services:
  app:
    container_name: retask-app
    build:
      context: .
      dockerfile: '.docker/app.Dockerfile'
    environment:
      PORT: 8080

  ui:
    container_name: retask-ui
    image: nginx
    depends_on:
      - app
    ports:
      - '8080:80'
    volumes:
      # Mount your local nginx.conf into the container
      - ./.docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # Mount the public/ directory to the web root
      - './public/:/usr/share/nginx/html'
